.top_widget .icon i {
    font-size: 22px;
    line-height: 50px;
    color: var(--primary-color);
}
.text-muted {
    color: var(--secondary-color) !important;
    color: green;
    text-transform: uppercase;
}
body{
    background-color: transparent;
}
body{
    background: url(../../assets/images/banners/bg1.jpg);
    /* background-repeat: no-repeat; */
    width: 100%;
    height: 100%;
}
#main-content{
    background-color: transparent;
}

div#main-content {}
.overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255 255 255 / 83%); /* Black background with opacity */
    z-index: -1; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
.body strong{
    color: #2696be;
}
.list-name{
    color: var(--primary-color);
}
.list-name:hover{
    color: var(--secondary-color);
}