/*=============================== */
/* Payment Section */
/* =============================== */

.mt-20 {
    margin-top: 50px !important;
}

p:last-child {
    margin: 0px;
}
.icon-logos {
    height: 0px;
    width: 55%;
}
.select-service {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
a {
    color: #71748d;
}

a:hover {
    color: #ff407b;
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0;
    text-decoration: none;
}

.btn-secondary {
    color: #fff;
    background-color: #ff407b;
    border-color: #ff407b;
}

.btn {
    font-size: 14px;
    padding: 9px 16px;
    border-radius: 2px;
}

.tab-vertical .nav.nav-tabs {
    float: left;
    display: block;
    margin-right: 0px;
    border-bottom: 0;
}

.tab-vertical .nav.nav-tabs .nav-item {
    margin-bottom: 6px;
}

.tab-vertical .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background: #fff;
    padding: 17px 49px;
    color: #71748d;
    background-color: #dddde8;
    -webkit-border-radius: 4px 0px 0px 4px;
    -moz-border-radius: 4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px;
}

.tab-vertical .nav-tabs .nav-link.active {
    color: #5969ff;
    background-color: #fff !important;
    border-color: transparent !important;
}

.tab-vertical .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 0px !important;
}

.tab-vertical .tab-content {
    overflow: auto;
    -webkit-border-radius: 0px 4px 4px 4px;
    -moz-border-radius: 0px 4px 4px 4px;
    border-radius: 0px 4px 4px 4px;
    background: #fff;
    padding: 30px;
}

.tabs {
    background: #D6D6D6;
}

.payments {
    display: flex;
    align-items: center;
    justify-content: center;
}

.payments-container {
    width: 80%;
    height: 100%;
    border-radius: 20px;
    background: rgb(238, 238, 238);
    background: -moz-linear-gradient(10deg, rgba(238, 238, 238, 1) 0%, rgba(179, 203, 228, 1) 64%);
    background: -webkit-linear-gradient(10deg, rgba(238, 238, 238, 1) 0%, rgba(179, 203, 228, 1) 64%);
    background: linear-gradient(10deg, rgba(238, 238, 238, 1) 0%, rgba(179, 203, 228, 1) 64%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeeeee", endColorstr="#b3cbe4", GradientType=1);
}

.container .pay-tabs .tabs-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.payments-container .nav-item {
    padding: 30px 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px groove #394150;
    height: 150px;
}

.cards-crdt {
    display: flex;
    width: auto;
    height: 100%;
    padding: 20px;
}

.debit-cards {
    padding-top: 50px;
    background: lightslategrey;
}

.mob-card {
    display: flex;
    justify-content: center;
    /* background: #fd4; */
    padding: 20px;
}

.debit i {
    font-size: 70px;
    color: lightgoldenrodyellow;
}

.icon-logos .container {
    display: flex;
    justify-content: center;
}

.icon-logos img {
    height: 30% !important;
    width: auto !important;
}

.icon-logos .mobile .container img {
    border-radius: 50%;
}

.inpt-tabs {
    width: 100%;
}

.form-container .card-form {
    padding: 10px 5px;
}

.form-container .card-form .form-group {
    padding: 11px;
    margin: 10px 0px;
}

card-form .form-group .form-control {
    height: 48px;
    width: 100%;
}

/* .mobile-payments {
    display: none;
  } */
.mobile-payments .mobile .container>img {
    max-width: 100% !important;
    border: none;
    border-radius: 50%;
}

.form-check .tel-logos .container>img {
    border: none;
    border-radius: 50%;
}

.mobile-payments .mobile .container .active {
    background-color: #00acee !important;
}


/*payments end */


.pills img {
    width: 70%;
}